<h2><%= I18n.t('mailer.stringing.ready.heading') %></h2>

<p><%= I18n.t('mailer.stringing.ready.greeting', name: @customer.first_name) %></p>

<p><%= I18n.t('mailer.stringing.ready.body') %></p>

<table class="schedule-table">
  <tr><th><%= I18n.t('mailer.stringing.racket') %></th><td><%= @order.racket_brand %> <%= @order.racket_model %></td></tr>
  <tr><th><%= I18n.t('mailer.stringing.string_type') %></th><td><%= @order.string_type %></td></tr>
  <tr><th><%= I18n.t('mailer.stringing.price') %></th><td>&euro; <%= '%.2f' % @order.price %></td></tr>
</table>

<h3><%= I18n.t('mailer.stringing.ready.pickup_heading') %></h3>

<table class="schedule-table">
  <tr>
    <th><%= I18n.t('mailer.stringing.ready.day') %></th>
    <th><%= I18n.t('mailer.stringing.ready.hours') %></th>
  </tr>
  <% @pickup_times.each do |slot| %>
    <tr>
      <td><%= I18n.l(slot[:date], format: :long) %> (<%= slot[:day_name] %>)</td>
      <td><%= slot[:opens_at] %> - <%= slot[:closes_at] %></td>
    </tr>
  <% end %>
</table>

<p><%= I18n.t('mailer.stringing.ready.note') %></p>
