<h2><%= I18n.t('mailer.rental.confirmation.heading') %></h2>

<p><%= I18n.t('mailer.rental.confirmation.greeting', name: @customer.first_name) %></p>

<p><%= I18n.t('mailer.rental.confirmation.body') %></p>

<table class="schedule-table">
  <tr><th><%= I18n.t('mailer.rental.racket') %></th><td><%= @racket.brand %> <%= @racket.model %></td></tr>
  <tr><th><%= I18n.t('mailer.rental.starts') %></th><td><%= I18n.l(@rental.starts_at, format: :short) %></td></tr>
  <tr><th><%= I18n.t('mailer.rental.due') %></th><td><%= I18n.l(@rental.due_at, format: :short) %></td></tr>
  <tr><th><%= I18n.t('mailer.rental.days') %></th><td><%= @rental.rental_days %></td></tr>
  <tr><th><%= I18n.t('mailer.rental.total') %></th><td>&euro; <%= '%.2f' % (@rental.total_price_cents / 100.0) %></td></tr>
</table>

<p><%= I18n.t('mailer.rental.confirmation.return_note') %></p>
